@import "tailwindcss";

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes fade-in {
        from { 
            opacity: 0; 
            transform: translateY(10px); 
        }
        to { 
            opacity: 1; 
            transform: translateY(0); 
        }
    }

    .animate-fade-in {
        animation: fade-in 0.3s ease-out;
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}